[defaults]
inventory = inventories/lab/hosts.ini
roles_path = roles
host_key_checking = False
retry_files_enabled = False
ask_pass = False
stdout_callback = default
callback_result_format = yaml
interpreter_python = auto_silent
timeout = 30
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .cache/facts
fact_caching_timeout = 86400

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
