apiVersion: v1
kind: Namespace
metadata:
  name: {{ gitea_namespace }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ gitea_name }}-data
  namespace: {{ gitea_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ gitea_storage_class }}
  resources:
    requests:
      storage: {{ gitea_data_size }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ gitea_name }}
  namespace: {{ gitea_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ gitea_name }}
  template:
    metadata:
      labels:
        app: {{ gitea_name }}
    spec:
      containers:
        - name: {{ gitea_name }}
          image: {{ gitea_image }}
          imagePullPolicy: {{ gitea_image_pull_policy }}
          env:
            - name: USER_UID
              value: "{{ gitea_uid }}"
            - name: USER_GID
              value: "{{ gitea_gid }}"
            - name: GITEA__server__ROOT_URL
              value: {{ gitea_root_url }}
            - name: GITEA__server__DOMAIN
              value: {{ gitea_ssh_domain }}
            - name: GITEA__server__SSH_DOMAIN
              value: {{ gitea_ssh_domain }}
            - name: GITEA__server__SSH_PORT
              value: "{{ gitea_ssh_node_port }}"
            - name: GITEA__server__SSH_LISTEN_PORT
              value: "{{ gitea_container_ssh_port }}"
            - name: GITEA__server__START_SSH_SERVER
              value: "true"
            - name: GITEA__database__DB_TYPE
              value: sqlite3
            - name: GITEA__database__PATH
              value: /data/gitea/gitea.db
          ports:
            - name: http
              containerPort: {{ gitea_container_http_port }}
            - name: ssh
              containerPort: {{ gitea_container_ssh_port }}
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ gitea_name }}-data
---
apiVersion: v1
kind: Service
metadata:
  name: {{ gitea_name }}
  namespace: {{ gitea_namespace }}
spec:
  type: NodePort
  selector:
    app: {{ gitea_name }}
  ports:
    - name: http
      port: {{ gitea_container_http_port }}
      targetPort: {{ gitea_container_http_port }}
      nodePort: {{ gitea_http_node_port }}
    - name: ssh
      port: {{ gitea_container_ssh_port }}
      targetPort: {{ gitea_container_ssh_port }}
      nodePort: {{ gitea_ssh_node_port }}