apiVersion: v1
kind: Namespace
metadata:
  name: {{ jellyfin_namespace }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ jellyfin_name }}-config
  namespace: {{ jellyfin_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ jellyfin_storage_class }}
  resources:
    requests:
      storage: {{ jellyfin_config_size }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ jellyfin_name }}-media
  namespace: {{ jellyfin_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ jellyfin_storage_class }}
  resources:
    requests:
      storage: {{ jellyfin_media_size }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ jellyfin_name }}
  namespace: {{ jellyfin_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ jellyfin_name }}
  template:
    metadata:
      labels:
        app: {{ jellyfin_name }}
    spec:
      containers:
        - name: {{ jellyfin_name }}
          image: {{ jellyfin_image }}
          imagePullPolicy: {{ jellyfin_image_pull_policy }}
          env:
            - name: PUID
              value: "{{ jellyfin_puid }}"
            - name: PGID
              value: "{{ jellyfin_pgid }}"
            - name: TZ
              value: {{ jellyfin_tz }}
          ports:
            - name: http
              containerPort: {{ jellyfin_container_port }}
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /media
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: {{ jellyfin_name }}-config
        - name: media
          persistentVolumeClaim:
            claimName: {{ jellyfin_name }}-media
---
apiVersion: v1
kind: Service
metadata:
  name: {{ jellyfin_name }}
  namespace: {{ jellyfin_namespace }}
spec:
  type: NodePort
  selector:
    app: {{ jellyfin_name }}
  ports:
    - name: http
      port: {{ jellyfin_container_port }}
      targetPort: {{ jellyfin_container_port }}
      nodePort: {{ jellyfin_node_port }}